.content {
    width: calc(100% - 400px);
    min-height: 100vh;
    margin-left: 400px;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    // background-color: red;
}

@media only screen and (max-width: 1024px) {
    .content {
        width: 100%;
        margin-left: 0;
    }
}
