.detail-blog-container {
    width: 90%;
    min-height: 90vh;
    margin: 50px auto;
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog-warning {
        font-size: 40px;
        font-weight: 700;
        margin-top: 50px;
    }

    .back-warning-btn {
        width: 100px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        border-radius: 10px;
        align-self: self-end;
        margin: 30px 50px;
        text-decoration: none;
        color: var(--white);
        background-color: var(--blue-dark);
    }

    .back-btn {
        width: 100px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        border-radius: 10px;
        align-self: self-end;
        margin-top: 30px;
        margin-right: 50px;
        text-decoration: none;
        color: var(--white);
        background-color: var(--blue-dark);
    }

    .blog-title {
        font-size: 40px;
        font-weight: 700;
        margin: 30px auto;
    }

    .blog-image {
        width: 50%;
        background-color: red;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        }
    }

    .blog-content {
        width: 80%;
        min-height: 200px;
        margin: 30px 30px;
        color: var(--original--black);
        text-align: justify;
        // background-color: red;
    }

    .blog-date {
        font-style: italic;
        align-self: flex-end;
        margin: 30px 200px;
    }
}

@media only screen and (max-width: 1024px) {
    .detail-blog-container {
        .blog-title {
            width: 90%;
            font-size: 30px;
            text-align: center;
        }

        .blog-date {
            margin: 30px 80px;
        }
    }
}