.banner-container {
    width: 90%;
    height: 80vh;
    margin: 50px auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@media only screen and (max-width: 800px) {
    .banner-container {
        height: 60vh;
    }
}