.blog-container {
    width: 90%;
    min-height: 90vh;
    margin: 50px auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    .blog-title {
        font-size: 30px;
        font-weight: 700;
        margin-top: 10px;
    }

    .blog-description {
        font-size: 20px;
    }

    .back-btn {
        width: 100px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;     
        border-radius: 10px;
        align-self: self-end;
        margin-top: 30px;
        margin-right: 50px;
        text-decoration: none;
        color: var(--white);
        background-color: var(--blue-dark);
    }

    .blog-select {
        align-self: self-end;
        margin-right: 50px;
        margin-top: 10px;
        width: 40%;
        // background-color: red;
    }

    .post-content {
        margin: 30px auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        // background-color: red;

        .post-card {
            width: 250px;
            min-height: 300px;
            margin: 10px 30px;
            border: 1px solid var(--black);
            border-radius: 10px;
            transition: all 0.25s linear;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .card-image {
                width: 90%;
                height: 150px;
                margin-top: 10px;
                // background-color: blue;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-content {
                width: 90%;
                min-height: 100px;
                margin-top: 10px;
                margin-bottom: 10px;
                color: var(--black);
                font-weight: 700;
                // background-color: red;

                .card-star {
                    position: relative;
                    font-size: 30px;
                    margin-left: 80%;
                    color: var(--blue-dark);
                    transition: all 0.1s linear;
                }

                & .active {
                    color: var(--yellow);
                }

                .card-star:hover {
                    color: var(--yellow);
                }
            }
        }

        .post-card:hover {
            cursor: pointer;
            transform: translateY(3px);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .blog-container {
        .blog-description {
            width: 90%;
            text-align: justify;
            font-size: 15px;
        }

        .blog-select {
            width: 70%;
        }
    }  
}