.new-post-container {
    width: 90%;
    min-height: 80vh;
    margin: 50px auto;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    a {
        text-decoration: none;
    }

    .title {
        width: 90%;
        min-height: 50px;
        margin: 30px auto;
        display: flex;
        font-size: 20px;
        font-weight: bold;
        // background-color: red;

        .title-icon {
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
        }

        .title-text {
            width: 100%;
            min-height: 50px;
            text-align: start;
            line-height: 50px;
            // background-color: red;
        }
    }

    .post-content {
        margin: 30px auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        // background-color: red;

        .post-card {
            width: 250px;
            min-height: 300px;
            margin: 10px 30px;
            border: 1px solid var(--black);
            border-radius: 10px;
            transition: all 0.25s linear;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .card-image {
                width: 90%;
                height: 150px;
                margin-top: 10px;
                // background-color: blue;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-content {
                width: 90%;
                min-height: 100px;
                margin-top: 10px;
                margin-bottom: 10px;
                color: var(--black);
                font-weight: 700;
                // background-color: red;

                .card-star {
                    position: relative;
                    font-size: 30px;
                    margin-left: 80%;
                    color: var(--blue-dark);
                    transition: all 0.1s linear;
                }

                & .active {
                    color: var(--yellow);
                }

                .card-star:hover {
                    color: var(--yellow);
                }
            }
        }

        .post-card:hover {
            cursor: pointer;
            transform: translateY(3px);
        }
    }

    .pagination {
        margin: 10px auto;
        display: inline-block;

        p {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

        p:hover {
            cursor: pointer;
        }

        p.active {
            background-color: var(--blue-dark);
            color: white;
        }

        p:hover:not(.active) {
            background-color: var(--gray);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .new-post-container {
        .title {
            .title-icon {
                font-size: 15px;
                // background-color: red;
            }
            .title-text {
                font-size: 15px;
                text-align: start;
                // background-color: red;
            }
        }
    }   
}