:root {
  --black: #171717;
  --white: #E8E8E8;
  --gray: #CFCFCF;
  --blue: #BBE1FA;
  --blue-dark: #3282B8;
  --yellow: #F2CD5C;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--gray);
}

.nav-menu-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
  text-align: center;
  transition: linear 0.5s;
  border-radius: 50%;
  background-color: var(--blue-dark);
  color: #fff;
  transform: translateX(200%);
  opacity: 0;
}

.nav-menu-icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .nav-menu-icon {
    transform: translateX(0);
    display: block;
    opacity: 1;
    z-index: 2;
  }
}