:root {
  --black: #171717;
  --white: #E8E8E8;
  --gray: #CFCFCF;
  --blue: #BBE1FA;
  --blue-dark: #3282B8;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: var(--gray);

  .app-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
  }

  .app-right {
    width: calc(100% - 350px);
    min-height: 100vh;
    margin-left: 350px;

    .box-right {
      width: 90%;
      height: 50vh;
      margin: 50px auto;
      background-color: var(--white);
    }
  }
}