.nav {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 350px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--white);
    transition: linear 0.3s;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    a {
        text-decoration: none;
        color: var(--black);
    }

    .nav-top {
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: red;

        .nav-avatar {
            width: 160px;
            height: 170px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--black);
            background-color: var(--white);

            img {
                width: 90%;
                height: 90%;
                border-radius: 100%;
                object-fit:cover;
                border: 1px solid var(--black);
            }
        }

        .nav-links {
            width: 80%;
            height: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 30px;
            // background-color: blue;

            .nav-links-icon {
                transition: all 0.25s linear;
            }

            .nav-links-icon:hover {
                cursor: pointer;
                transform: translateY(-3px);
            }
        }
    }

    .nav-middle {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: red;

        .nav-box {
            width: 90%;
            height: 80px;
            line-height: 80px;
            font-weight: 700;
            display: flex;
            margin: 3px 0px;
            border-radius: 10px;
            transition: all linear 0.25s;

            .nav-icon {
                width: 80px;
                height: 80px;
                font-size: 25px;
                text-align: center;
                line-height: 80px;
            }

            .nav-text {
                min-width: 100px;
                height: 80px;
                line-height: 80px;
                font-size: 25px;
                text-align: start;
            }
        }

        .nav-box:hover {
            cursor: pointer;
            color: var(--white);
            background-color: var(--blue-dark);
        }

        .active {
            color: var(--white);
            background-color: var(--blue-dark);
        }
    }
}

@media only screen and (max-width: 800px) {
    .nav {
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        opacity: 0;
        transform: translateX(-100%);

        .nav-middle {
            width: 80%;
        }
    }

    .nav-open {
        opacity: 1;
        transform: translateX(0);
        z-index: 1;
    }
}