.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    transition: linear 0.3s;
    
    a {
        text-decoration: none;
        color: var(--black);
    }

    .nav-middle {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: red;

        .nav-box {
            width: 90%;
            height: 80px;
            font-size: 20px;
            font-weight: 700;
            margin: 2px 0;
            display: flex;
            // justify-content: center;
            align-items: center;
            border-radius: 10px;
            transition: all 0.25s linear;
            // background-color: red;

            .nav-box-title {
                width: 100px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: red;
            }

            .nav-box-name {
                min-width: 50px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                // background-color: blue;
            }
        }

        .nav-box:hover {
            cursor: pointer;
            color: var(--white);
            background-color: var(--blue-dark);
        }

        .active {
            color: var(--white);
            background-color: var(--blue-dark);
        }
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        width: 100vw;
        opacity: 0;
        transform: translateX(-100%);
    }

    .nav-open {
        opacity: 1;
        transform: translateX(0);
        z-index: 1;
    }
}