.about-container {
    width: 90%;
    min-height: 90vh;
    margin: 50px auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    a {
        text-decoration: none;
        color: var(--blue-dark);
        // font-style: italic;
    }

    a:hover {
        color: var(--yellow);
    }

    .back-btn {
        width: 100px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;     
        border-radius: 10px;
        align-self: self-end;
        margin-top: 30px;
        margin-right: 50px;
        text-decoration: none;
        color: var(--white);
        background-color: var(--blue-dark);
    }

    .about-image {
        width: 200px;
        height: 200px;
        margin: 30px 0px;
        // background-color: red;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .about-content {
        width: 70%;
        margin: 50px 0px;
        font-size: 20px;
        // background-color: red;

        .project-card {
            min-width: 100%;
            min-height: 150px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 30px 0px;
            border: 1px solid var(--black);
            border-radius: 10px;
            transition: all 0.25s linear;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            // background-color: red;

            .card-left {
                display: flex;
                align-items: center;
                min-width: 150px;
                height: 130px;
                margin: 0 10px;     
                // background-color: red;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .card-right {
                min-width: 300px;
                max-width: 900px;
                min-height: 150px;
                // background-color: blue;
            }
        }

        .project-card:hover {
            cursor: pointer;
            transform: translateY(-5px);
        }
    }
    
}

.about-warning-container {
    width: 90%;
    min-height: 90vh;
    margin: 50px auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-warning {
        font-size: 40px;
        font-weight: 700;
        margin-top: 50px;
    }

    .back-warning-btn {
        width: 100px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;     
        border-radius: 10px;
        align-self: flex-end;
        margin: 30px 50px;
        text-decoration: none;
        color: var(--white);
        background-color: var(--blue-dark);
    }
}

@media only screen and (max-width: 1024px) {
    .about-container {
        .about-content {
            width: 90%;
            font-size: 15px;
            // background-color: red;
        }

        .project-card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // background-color: red;

            .card-left {
                // background-color: blue;

                img {
                    margin-top: 30px;
                }
            }

            .card-right {
                margin-top: 50px;
                margin-left: 10px;
                margin-right: 10px;
                // background-color: green;
            }   
        }
    }
}